p{
    color: red;
    background-color: yellow;
}

span{
    background-color: white;
    color: green;
}

h1{
    background-color: aqua;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-style: italic;
}