p{
    color: red;
    background-color: yellow;
}

span{
    background-color: white;
    color: green;
}

h1{
    background-color: aqua;
    color: violet;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-style: italic;
}

#para{
    background-color: blueviolet;
    color: blue;

}

.info{
    color: greenyellow;

}

.matter{
    color: rgb(189, 118, 25);
}