.container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row-reverse;
}

.color{
    height: 140px;
    width: 140px;
    margin: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}