body{
    margin: 0;
    display: flex;
}

.box{
    width: 35vw;
    height: 100vh;
    background-color: tomato;
}

.box1{
    width: 35vw;
    height: 80vh;
    background-color: rgb(126, 71, 255);
}

.box2{
    width: 30vw;
    height: 100vh;
    background-color: yellow;
}


