.para::first-letter{
    color: yellowgreen;
    font-size: 2rem;
}

.para2::first-line{
    color: blue;
    font-size: 3rem;
}

li:nth-child(2){
    color: blueviolet;
    background-color: aqua;
    padding: 4px;
}

li:first-child{
    color: rgb(240, 130, 130);
    background-color: black;
    padding: 4px 10px;

}

li:last-child{
    color: brown;
    background-color: rgb(77, 18, 126);
    padding: 4px 10px;

}

li:last-child::before {
    content: "👉 ";
    padding: 4px 10px;

}

button:hover{
    color: red;
    background-color: white;
    border-radius: 10px;
}

button:active{
    background-color: blue;
}

button:focus {
    border: 2px solid green;
    background-color: black;
    color: white;
    font-size: 2rem;
}

h1:hover{
    color: yellow;
}

/* p:first-child{
    color : green
}

p:last-child{
    color: aqua;
} */

p:nth-child(2){
    color: yellow;
}
